NEXT_PUBLIC_APP_URL=http://localhost:3000

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyChX5vDjBGt1jLbJpFueDJVDitV_B9AK48
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=blockerino-standalone-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=blockerino-standalone-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=blockerino-standalone-2026.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1026718357389
NEXT_PUBLIC_FIREBASE_APP_ID=1:1026718357389:web:18d67e54a122e9f2dd0fc4

# Vizzion Pay
VIZZION_PAY_API_KEY=sua_chave_aqui
VIZZION_PAY_CLIENT_ID=seu_client_id_aqui
VIZZION_PAY_CLIENT_SECRET=seu_client_secret_aqui
VIZZION_PAY_BASE_URL=https://api.vizzionpay.com/v1
VIZZION_PAY_WEBHOOK_SECRET=seu_webhook_secret_aqui
